.weather{
    place-self: center;
    padding: 40px;
    background: rgba(0,0,0,0.35);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    --web-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input{
    height: 50px;
    border: none;
    border-radius: 10px;
    padding-left: 25px;
    color: rgb(8,8,8);
    background-color: #ebf6fc;
    font-size: 18px;

}

.search-bar img{
    width: 50px;
    padding: 15px;
    background-color: #e0f6ff;
    border-radius: 50%;
    cursor: pointer;
    	
}